<p>
<%= link_to '<- Back' , root_path %> |
<% if !user_signed_in? %>
	<%= link_to "Login", user_session_path %>
<% else %>
	<%= link_to "My Profile", profile_path(current_user.id) %> | 
	<%= link_to "My Orders",  orders_path %> | 
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
</p>